[credential]
	helper = store
[user]
	email = sotoaugustoa@gmail.com
	name = Augusto Soto
[filter "lfs"]
	required = true
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
[init]
	defaultBranch = main
[core]
	autocrlf = input
[alias]
	staash = stash --all
[rerere]
	enabled = true
[maintenance]
	repo = /home/colocho/dotfiles
